#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#canvas {
  margin-right: 0;
  margin-left: 0;
  background: url(../images/bg_test.jpg) no-repeat 0 0;
}

#box-game {
  position: absolute;
  left: 287px;
  top: 170px;
  width: 450px;
  text-align: center;
  background-color: #f4f5f7;
  border-radius: 30px;
}

#character {
  position: absolute;
  left: 287px;
  top: 170px;
  width: 450px;
}

#character h1 {
  text-align: center;
}

#box-game button {
  min-width: 100px;
  margin: 20px;
  color: #808080;
  background-color: #ededeb;
  box-shadow: 0px 5px #efe2d1;
  border-radius: 10px;
  font-weight: bold;
}

#next {
  min-width: 100px;
  margin: 20px;
  color: #808080;
  background-color: #ededeb;
  box-shadow: 0px 5px #efe2d1;
  border-radius: 10px;
  font-weight: bold;
}

#box-game button:hover {
  border: none;
  background-color: #efe2d1;
  box-shadow: 0px 5px #efe2d1;
  border: 2px #efe2d1 solid;
}

#box-game h1 {
  font-size: 28px;
  color: #828282;

}

.main-sentence {
  font-size: 30px;
  text-transform: uppercase;
}

.select-div {
  padding: 0 10px 5px 10px;
}

#answer-box {
  border-top: 1px dashed #1e611e;
}

#top-box {
  padding: 20px 5px 20px 5px;
}

#col-left {
  border-right: 1px dashed #1e611e;
}

#col-left, #col-right {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.option-title {
  font-weight: normal;
  text-align: center;
  color: #65c0ec;
}

select {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 22px;
  line-height: 22px;
  outline: 0 none;
  padding: 4px;
}

.colors {
color: #B5858D;
}

#restart {
  color: #65c0ec;
  font-size: 16px;
  font-weight: bold;
}

input[type=text]#answer {
  width: 70%;
  margin-bottom: 15px;
}

.error-title {
  color: #828282;
  font-size: 15px;
}

.definition-word {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #e7646a;
}

.definition {
  font-size: 15px;
  color: #828282;
}

.rule {
 font-size: 15px;
 text-align: center;
 font-weight: bold;
 color: #828282;
}

.hidden {
  display: none;
}

#point-bar {
  margin: 10px;
}

.star {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/star.png) no-repeat 0 0;
}

.world {
  text-align: center;
  display: block;
  width: 80px;
  height: 50px;
}

.medal {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../images/medal.png) no-repeat 0 0;
}

.characters {
  display: inline-block;
  width: 82px;
  height: 150px;
}

#boy {
  background: url(../images/boy.png);
}

#girl {
  background: url(../images/girl.png);
  float: right;
}

#walking-character {
  display: inline-block;
  width: 82px;
  height: 150px;
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.girl-1 {
  background: url(../images/girl-1.png);
}

.boy-1 {
  background: url(../images/boy-1.png);
}